.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(50, 56, 70);
  border: 30px solid rgb(140, 223, 239);
  /* background-color: rgb(143, 143, 134);
  border: 30px solid rgb(132, 252, 253); */
  padding: 30px 30px, 30px, 30px;
}

a {
  color: rgb(140, 223, 239);
}

a:hover {
  color: rgba(140, 223, 239, 0.6);
  text-decoration: none;
}

#main-container {
  color: rgb(140, 223, 239);
  height: 100%;
  width: 100%;
  padding: 0px;
}

/* invisible frame seperating menu and graphics/content */
#split-row {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* width specified by outer flex-container (4:8) */
#page-left {
  height: 100%;
}

.menu-item-left {
  height: 120px;
  width: 100%;
  border-bottom: 2px solid rgb(140, 223, 239); /* line under each menu item */
  font-size: 80px;
  padding-left: 5%;
  transition: all .5s ease-in-out;
}

.menu-item-left:hover {
  transform: scale(0.95) ; 
}

  .menu-item-left span {
    font-size: 20px;
  }

#page-right {
  text-align: center;
}

.orb-artifact {
  margin: 27% 25% 20% 40%;
  height: 300px;
  width: 300px;
  /* border: 5px solid rgb(140, 223, 239); */
  border-radius: 150px;
  background-image: linear-gradient(to bottom,  rgba(140, 223, 239) 10%, #323846 100%);
  background-blend-mode: overlay;
}

@media only screen and (max-width: 1120px) {
  .orb-artifact {
    display: none;
  }
}

