@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Roboto+Mono:wght@400;700&display=swap');

body {
  /* overflow: hidden; */
  background-color: rgb(12, 85, 175);
  font-family: 'Lato', 'Arial';
  cursor: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  cursor: none;

  /* implement smooth scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.wrapper a {
  cursor: none;
}

a {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

a:hover {
  color: rgb(0, 255, 0);
  text-decoration: none;
  cursor: none;
}

.row {
  height: 100vh;
  /* border: 1px solid green; */
  margin: 0;
}

.navbar {
  width: 100vw;
  text-align: right;
  display: flex;
  padding-right: 20px;
  padding-bottom: 0;

  position: fixed;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 0 2rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 15px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.nav-active {
  text-decoration: line-through;
}

.side-nav {
  height: 100vh;
  width: 30px;
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}

#left-nav {
  margin-left: 1.5rem; 

  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

#right-nav {
  margin-right: 1.5rem;

  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.about-menu {
  width: 500px;
  margin: 0 auto;
}

.about-text {
  width: 100%;
  background: rgb(0, 66, 146);
  color: white;
  margin: 0;
  padding: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.about-text p span {
  font-style: italic;
  color: #00ff00;
  text-decoration: underline;
}

#barchart {
  height : 200px;
  width: 400px;
}

.scene {
  height: 100%;
  width: 100%;
  cursor: none;
}

.frame {
  height: 500px;
  width: 300px;
  display: inline-block;
  float: right;
}

/* swiper.js */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.fab {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* styling cards */
.card-text {
  color: white;
  float: left;
  display: inline-block;
  padding: 15px;
  text-align: left;
  line-height: 1.4rem;
  /* border: 1px solid green; */
  height: 500px;
  width: 250px;
}

.card-img {
  float: right;
  display: inline-block;
  height: 500px;
  width: 550px;
  border-radius: 0px;
}

/* custom cursor */
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: rgb(93, 145, 207);
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.card-text p b {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 20px;
}

.card-text p {
  font-family: 'Lato', 'Arial';
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.07rem;
}

.card-text a {
  text-decoration: underline;
}

/* -------- each section ------- */

#name-box {
  font-size: 60px;
  color: white;
  font-weight: 600;
  line-height: 4.2rem;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
}

#menuItems {
  padding: 0;
  font-size: 45px;
  list-style-type: none;
  font-weight: 600;
  line-height: 3.0rem;
}

#menu-box {
  background-color: rgb(0, 66, 146);
  padding: 20px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.16);
}

#icons {

}

.flexbox {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  .flexbox {
    display: block;
  }
}

.col {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

section {
  scroll-snap-align: center;
}

#ios {
  background-color: rgb(125, 221, 237);
}

#python {
  background-color: rgb(51, 56, 69);
}

#react {
  background-color: #4499ce;
}
