* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: #343838;
}

.navbar {
  background: #005F6B;
}

.navbar-brand {
  color: lightslategrey;
  text-shadow: 1px 2px #00dffc;
}

/* horizontal bars not showing up */
.navbar-toggler {
  background: white;
  color: white;
}

/* want this aligned to the RIGHT */
.navbar-nav > li > a {
  color: lightgrey;
}

.navbar-nav > li > a:hover {
  color: aqua;
  background: darkcyan;
  transition: color .25s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar-nav > li {
  transition: color .25s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#blanks {
  background: white;
  height: 400px;
}

